*,
*::before,
*::after {
  box-sizing: border-box;/*указывает браузеру учитывать любые границы и отступы, назначенные ширине и высоте элемента*/
}

body {
  width: 1100px; /* ширина*/
  margin: 0 auto;/*внешние отступы*/
  font-family: Raleway, sans-serif; /* преобладающий шрифт для всего тела документа/альтернативный шрифт*/   
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;/*внешние отступы*/
  padding: 0;/*внутренние отступы*/
}

a { /*ссылка*/
color: inherit; /*цвет ссылки от ближайшего родительского элемента*/
}

img { /*картинка*/
  width: 100%; /*ширина родителя у картинок*/
}
