/*шапка*/
.header {
  min-height: 105px;
  margin: 92px 24px 96px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  color:#000;
}

/*контейнер навигации*/
.header_menu {
  width: 391.48px;
  margin: 44px 37px 39px 27px;
  flex: 0 0 auto;
}

/*ссылка*/
.header__link {
  text-underline-position: under;
}

/*список ссылок*/
.header__links-list {
  display: flex;
  gap: 32px;
}

/*пункт списка ссылок*/
.header__links-list-item {
  list-style: circle;
}

/*для ссылки без кружка*/
.header__links-list-item_no-bullit {
  list-style: none;
}

/*активная ссылка*/
.header__link_active {
  text-decoration: none;
}

/*контейнер логотипа*/
.header__logo {
  width: 148px;
  height: 105px;
}

/*картинка с логотипом*/
 .header__logo-image {
  width: inherit;
  height: inherit;
}

/*для выравнивания блока с адресом*/
.header__address {
  width: 240px;
  margin: 5px 25.5px 2px 183px;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 23px;
}

/*контейнер с адресом*/
.adress {
  font-style: normal;
  text-underline-position: under;
}

/* первая секция */
.cover {
  width: 1100px;
  min-height: 757px;
  position: relative;
  background: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
}

/*заголовок*/
.cover__title {
  margin: 165px 50px 135px 50px;
  display: flex;
  flex-direction: column;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

/*контейнер для подзоголовка и кнопки*/
.cover__description {
  display: flex;
  justify-content: end;
  align-items: center;
}

/*текст подзоголовка*/
.cover__description-text {
  margin-left: 28px;
  margin-right: 79px;
  margin-bottom: 52px;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-align: end;
  word-spacing: 18px;
  text-transform: uppercase;
}

/*полупрозрачный блок поверх секции */
.overlay {
  width: inherit;
  min-height: inherit;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  background: #000;
  opacity: 0.6;
}

/*классы для выравнивания строк текста и превращения их в блочный элемент*/
.aligned-text_left {
  text-align: left;
  letter-spacing: 0.3em;
}

.aligned-text_center {
 
  display: block;
  padding-right: 27px;
  box-sizing: content-box;

  text-align: center;
}

.aligned-text_right {
  text-align: right;
 
  letter-spacing: 0.3em;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

/*Кнопка*/
.bet-button {
  margin-right: 50px;
  margin-bottom: 51px;
  padding: 12px 32px;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

/*секция с карточками*/
.lots {
  width: 1052px;
  margin: 179px 24px 146px;
}

/*заголовок секции*/
.lots__heading {
  margin-left: 40px;
  margin-bottom: 27px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

/*список карточек*/
.lots__card-list {
  display: flex;
  flex-wrap: wrap;/*Карточек может быть больше. Новые карточки будут переходить на следующую строку*/
  gap: 25px;
  list-style: none;
}

/*пункт списка карточки*/
.lots__card-list-item {
  width: 334px;
  display: flex;
  flex-grow: 1;
}

/*ссылка_посмотреть больше*/
.lots__look-more-link {
  display: flex;
  width: 192px;
  margin-top: 30px;
  margin-left: 40px;
  text-decoration: none;
  border-bottom: 1px solid #000;
  text-transform: lowercase;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
}

/*Карточка*/
.card {
  width: 334px;
  min-height: 563px;
  color: #FFF;
}

/*классы для изменения фона*/
.card_type_film {
  background: url(../images/card-lot-01.jpg) center/cover;
}

.card_type_book {
  background: url(../images/card-lot-02.jpg) center/cover;
}

.card_type_picture {
  background: url(../images/card-lot-03.jpg) center/cover;
}

/* ссылка, обрамляющая карточку*/
.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

/*заголовок карточки*/
.card__title {
  padding-top: 51px;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
}

/*текст карточки*/
.card__text {
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 48px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

/*секция с информацией об аукционе*/
.about {
  width: 1052px;
  display: grid;
  grid-template-columns: 351px 701px;
  grid-template-rows: 283px 312px;
  grid-row: 1/3;
  align-self: start;
}

/*класс для колонок*/
.about__column {
  width: 693px;
  padding-top: 3px;
  margin-left: 34px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-self: self-start;
}

/*контейнер с логотипом*/
.about__logo {
  width: 240px;
  height: 240px;
  padding: 63px 46px;
  margin-top: 35px;
  margin-left: 37px;
  display: grid;
  border-radius: 50%;
  align-content: space-between;
  background-color: #000;
}

/*изображение логотипа*/
.about__logo-image {
  width: 148px;
  height: 114px;
}

/*заголовок секции*/
.about__title {
  width: 291px;
  margin-top: 136px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 46px;
  color: #000;
}

/*блок для текстов секции*/
.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1%;
  color: #000;
}

/* Подвал */
.footer {
  margin: 180px 50px 88px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 400;
}

.footer__address {
  width: 240.52px;
  padding-right: 4px;
  line-height: 24px;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}

/*блок навигации по списку ссылок*/
.footer__menu {
  width: 149px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*список пунктов меню*/
.footer__menu-list {
  text-align: center;
  list-style: none;
}

/*ссылка меню*/
.footer__menu-link {
  text-underline-position: under;
}

/*активная ссылка меню*/
.footer__menu-link_active {
  text-decoration: none;
}

/*список ссылок на соцсети*/
.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {/*иконка социальной сети*/
  width: 48px;
  height: 48px;
}